html, body { 
    background-color : #fff;    
}

body {
    font-family: 'Roboto Condensed', sans-serif;  


}
video{
    width: 100%!important;
}

.volume-control{
    display:none!important;
}

.media-container:nth-child(1){
    width: 100%;
   
}
.media-container:nth-child(2){
    width: 50%;
    position: absolute;
    padding-right: 16px;
    top: 0px;
    right: 0px;
    width: 200px;
}

.videoscontainer{
    padding-top: 0px!important;
    height: auto;
    border: 1px solid;
}

b, strong{
color: cadetblue;
}
td{
  min-width: 150px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    /* font-weight: 700; */
    color: #c40f0c!important;
}
.crossbtn{
  margin-left: 8px;
}
.chat-output {
 background-color: #fff;
  height: 100px;
 padding : 5px;
 border-radius: 5px;

  overflow-y:auto;
  resize:vertical;
}

.search {
    border : 1px solid #D6D7D8 !important;
    border-radius: 0;
}
.profile-logo {
     color: #fff;
    text-align: right;
    font-weight: normal;
    min-width: 93px;
    float: right!important;
    max-width: 400px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
    background-image: none;
    border: none;
    border: 1px solid #a3a3a3;
    /* border-radius: 4px; */        
}

div.update-box{
  color: rgb(151, 150, 150);
  /* color: white; */
  /* background-color: green; */

  border-style: solid; 
  border-width: thin;
  width: 100%; 
  height: 400px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 10%;
  position: relative;
  cursor: pointer;
  /* cursor: not-allowed; */
}

div.update-box.active{
  /* color: rgb(133, 133, 133); */
  color: white;
  background-color: #19496F;

  border-style: solid; 
  border-width: thin;
  width: 100%; 
  height: 400px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 10%;
  position: relative;
  /* cursor: pointer; */
  cursor: not-allowed;
}

div.update-box:hover{
  border-style: solid; 
  border-width: medium;
  width: 100%; 
  height: 400px;
  margin-top:10px;
  margin-bottom:10px;
  position: relative;
}

div.update-button{
  border-style: solid;
  border-width: thin;
  width: 80%;
  margin: 0 auto;
  text-align: center;  
  padding: 5px;
  position: absolute;
  bottom: 20px;
}

div.update-button:hover{
  border-style: solid;
  border-width: thin;
  width: 80%;
  margin: 0 auto;
  text-align: center;  
  padding: 5px;
  position: absolute;
  bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader {
  position: absolute;
  top: 20px;
  align-content: center;
  margin: auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid grey;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.myquestion h4{
  margin-top: 0px;
}

.myquestion p{
  margin-bottom: 0px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.intro p {
 font-size: 14px;
 line-height: 100%;
}

.gray-bg {
 background-color: #ececec;
}
.no-radius {
 border-radius: 0;
}
.container,.container-fluid{
  width: 100%;
  padding: 0px;
}
.logo{
  float: right;
}
.top-nav{
  background: #19496f;
  width: 100%;
}
.navbar{
  margin-bottom:0px;
  border:none;
}
.navbar-right, .navbar-left{
  margin:15px 0px 0px 30px; 
}
.navbar-default .navbar-nav > li > a {
  color:#fff;
}
.navbar-default .navbar-nav > li > a:hover , .navbar-default .navbar-nav > li > a:focus {
  background:#3176bb;
  border-radius: 5px;
  color:#fff;
}
.navbar-toggle{
  margin: 20px ;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background:#3176bb;
  color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color:#fff;
}

.collapse {
  background: #19496f;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{

color:#fff  ;
background: #3176bb;
}
.navbar-default .navbar-nav > .active > a:hover{
  color:#fff  ;
background: #3176bb;
}


.dropdown ,.navbar-nav > li {
  margin: 0px 5px 0px 5px;
  
}

.navbar-nav > li > a {
  padding-top: 5px;
padding-bottom: 5px;
}

.navbar-left > li > a {
  padding-top: 15px;
padding-bottom: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #bdbdbd;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 0px solid #ddd;
    border-top: 0px solid #ddd;
    border-bottom: 0px solid #ddd;
}

.list-group a {
    color : #95989A;
    padding-left: 100px;

}
.left-nav-active {
    color : #1E4D72 !important;
    font-weight: bold;
    border-left : 1px solid #19496F;
    border-left: 5px solid #19496F;
    padding-left: 100px;
}

.navbar-default .navbar-nav > .active > a {
  background: #3176bb;
  color:#fff;
  border-radius: 6px;
}

/*
.list-group a:hover {
    color : #1E4D72 !important;
    font-weight: bold;
    border-left : 1px solid #19496F;
    border-left: 5px solid #19496F;
    padding-left: 100px;
}*/

@media screen and (max-width: 992px) {
    .list-group {
        text-align: center;

    }
}

.lft-part .form-control {border-top:0px; border-left:0px; border-right:0px; box-shadow:0 0 0 #fff; border-radius: 0;     border-bottom: 1px solid #ededed; padding-left: 5px;}
.lft-part .form-control:focus  { border-bottom:1px solid #19496F;}
.lft-part .form-group label { color:#19496F !important; margin-right: 15px;}
.lft-part .form-group label.btn-cus, .btn.btn-cus { margin:0; color:#fff !important;  padding: 5px 25px;}
.lft-part .form-group .btn-green { color:#fff !important;  padding: 5px 25px; background:#549788;}
.pic-pp {height:225px; width:225px;}
.media-left .media-object { width:60px; height:60px; border-radius:50%; border:2px solid #19496F;}
.form-signin-heading {color:#19496F;}
.rr { color:#19496F}
.rr .form-group { margin-bottom:6px;}
.btn {border-radius: 2px;}
.patient-docu {    height: 200px;  overflow-y: scroll; overflow-x: hidden; overflow: auto;}
.patient-docu h5 { font-size:16px; color:#19496F;}
.patient-docu p {border: 1px solid #D7D8D9; padding: 7px; line-height: 1; color: #848484; font-size: 15px; border-left: 2px solid #d7d8d9; border-right: 2px solid #d7d8d9; width:95;}
.patient-docu p a { float:right; margin-left:8px;}
.patient-docu p a span.glyphicon { font-weight:lighter; color:#848484;}
.ll-lft .form-control,.rr .form-group { width:80%;}
.ll-lft .form-group label { font-weight:100; font-size:16px;}
.media-heading {border-bottom: 1px solid #d8d9d7; padding-bottom: 8px;}
.media-body p a {font-size: 15px; letter-spacing: .4px; line-height:1.8; margin-right:5px;}
.media-body p a:nth-child(2) { margin-left:5px;}
.icon-btn { float:right; display:block; margin-left: 8px; font-size: 16px; line-height:1.5; color:#484A4C}
.mediapro:hover h4.media-heading a.icon-btn { display:block;}
.home0 p img {width:130px;}
.home0 p span {font-size:13px;}
.mediapro .media-heading{ border-bottom:0px; padding-top: 21px;}
.mediapro:hover {background:#91C1E7;}
.mediapro { padding: 5px 10px;}








@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #19496F; } }

.custom-radio {
  position: absolute;
  display: none; }

.custom-radio[disabled] {
  cursor: not-allowed; }

.custom-radio + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  /* vertical-align: middle;  */
}
  .custom-radio + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .custom-radio + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }
  .custom-radio + label:after {
    position: absolute;
    display: none;
    content: ''; }

img.profile-nav { width:52px; height:52px;}

.left-bar{
  border-left:#2f73b6 1px solid;padding-left:9px; 
}

.custom-radio[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .custom-radio[disabled] + label:hover, .custom-radio[disabled] + label:before, .custom-radio[disabled] + label:after{
    cursor: not-allowed; }
  .custom-radio[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .custom-radio[disabled] + label:before {
    border-color: #e4e4e4; }

.custom-radio:checked + label:before {
  animation-name: none; }

.custom-radio:checked + label:after{
  display: block; }

.custom-radio + label:before {
  border-radius: 50%; }

.custom-radio + label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #19496F; }

.custom-radio:checked + label:before {
  border: 1px solid #19496F; }

.custom-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.custom-radio:checked[disabled] + label:after {
  background: #c9e2f9; }


.radio-label label{ float:left;}
.rr .custom-radio + label {float:right;  margin-bottom: 30px;}
.rr .custom-radio + label span {display:none;}
.rr .form-group span { color:#19496F; margin-right:6px;}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 24px;
    border: 1px solid #6e6c6e;
    border-radius: 8px;
    background: #ffffff!important;
     color: #6e6c6e;
    text-decoration: none;
    text-transform: uppercase
}
.button1 {  border: 1px solid #6e6c6e!important;}
.button:hover {
    color: #bab4ba;
    text-decoration: none;
    text-transform: uppercase
}
.button:active {
    background: #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#ffffff));
    background: -moz-linear-gradient(top, #999999, #ffffff);
    background: linear-gradient(to bottom, #999999, #ffffff);
    text-transform: uppercase
}
.button:focus {
    text-transform: uppercase
}

.btn-inh{
  background: inherit;border:none;
}

.full-width{
  width:100%;
}
.disnone{
  display: none;
}
.btn-green{
   color:#fff !important;  padding: 5px 25px; background:#549788;
}
.btnmarg{
margin: 5px 0px 5px 0px;
}
.filesection{
  border:1px solid;
  overflow-y:auto; 
  bottom: 50px;
  left: 30px;
}

.videoscontainer{
  padding-top:5px; 
  height: 500px; 
  border:1px solid;
}
.chgpwdform{
  padding: 0px 0px 0px 100px ;
}


#loader{
  display: none;
}

#Backuploader{
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.right-nav{
  font-weight: 500;
  padding: 7px;
}

.right-nav .right-nav-inactive a{
  color: grey;
}

input.form-control#room-id{
  width: 100%;
  border: none;
  padding: 0px;
  text-align: left;
  box-shadow: none;
  margin: 0px;
  text-transform: uppercase;
}


.room-number .room-number-label{
  padding: 9px;
  font-weight: bold;
  font-size: small;
}