body, html {
    background-color: gray;
    height: 100%;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    width: 264px;
    height: 198px;
    overflow: hidden;
     position: relative;
     min-width: 48px;
     min-height: 48px;
    z-index: 99;
}

#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.OT_publisher{
    position: absolute !important;
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
    z-index: 10!important;
}
.sharing{
    position: absolute;
    z-index: 999;
    left: 50%;
    border: 1px solid;
    background: #000;
    color: #FFF;
    padding: 15px;
    border-radius: 15px;
    bottom:0;
    cursor: pointer;
}
#stop_sharing{
    display: none;
}